---
layout: master
title: Home
description: "Listen to our 24/7 Online Rap Kreyol Radio"
---

<div class="container">

	<header class="row">
	  <div class="col-sm-6 col-md-12" style="margin-top:25px;margin-bottom:25px">
	    <h1 id="pin">{{site.title}}</h1>
	  </div>
	</header>
	<nav>
		<div class="row">
 			<div class="col-md-4 col-sm-6 col-xs-12">	
					<div class="tile purple profile">
						<h2 class="title">About RGM Haiti</h2>
						<p>Haiti's #1 Rap Kreyol Online Radio.</p>
						<p>Send us your track: richgandmedia@gmail.com</p>
					</div>	
		    </div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="tile green">						
					<p><script src="https://embed.radio.co/player/8c79ed5.js"></script></p>
				</div>
				
			</div>
			<!--div class="col-md-2 col-sm-3 col-xs-6">
				<a href="feed.xml" title="RSS Feed" class="tile orange">
					<img src="{{site.baseurl}}/assets/images/rgm-logo.png" />
				</a>
			</div-->
		</div>

		<!--div class="row">

			<div class="col-md-4 col-sm-6 col-xs-12">
				
					<div class="tile green">						
						<p> <a class="twitter-timeline" href="https://twitter.com/RGMHaiti" data-widget-id="684923298501783553">Tweets by @RGMHaiti</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
					</div>
				
			</div>


			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="tile red">
					<p><div class="fb-page" data-href="https://www.facebook.com/Richgandmedia" data-tabs="timeline" data-height="70" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/Richgandmedia"><a href="https://www.facebook.com/Richgandmedia">Rich Gand Media</a></blockquote></div></div></p>
				</div>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="{{site.stackoverflow}}" title="StackOverflow" class="tile darken" >
					<i class="icon-skow" style="font-size:8em;color:white"></i>
				</a>
			</div>			

			<div class="col-md-4 col-sm-6 col-xs-12">
				{% for post in site.posts %}
					{% if post.featured == true %}
					<a href="{{post.url}}" title="Featured Article">
						<div class="tile orange">
							<h3 class="title">Featured Article</h3>
							<h4 class="title">{{ post.title }}</h4>
							<p> {{ post.content | strip_html | truncatewords: 10 }}</p>
						</div>
					</a>
					{% break %}
					{% endif %}
				{% endfor %}
			</div>
		</div -->

		<div class="row" style="margin-bottom:25px">

			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="{{site.twitter}}" title="Twitter" class="tile blue">
					<i class="icon-twtr" style="font-size:8em"></i>
				</a>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="{{site.instagram}}" title="Instagram"  class="tile red">
					<i class="icon-igrm" style="font-size:8em"></i>
				</a>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="{{site.facebook}}" class="tile drk-blue">
					<i class="icon-fcbk" style="font-size:8em"></i>
				</a>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6">

				<a href="{{site.youtube}}" title="YouTube" class="tile b-red">
					<i class="icon-utub" style="font-size:8em"></i>
				</a>

			</div>

			<div class="col-md-2 col-sm-3 col-xs-6">
				<a href="{{site.soundcloud}}" title="SoundClound" class="tile orange">
					<i class="icon-rss" style="font-size:8em"></i>
				</a>
			</div>
		</div>
	</nav>
</div>
